{% extends 'base.html' %} {% block style %} {{ block.super }} {% endblock style%} {% block content %}
<h2 class="text-center">Personal Gallery</h2>
{% if images %}
<div class="row">
    {% for image in images%}
    <div class="col-md-4">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img class="card-img-top" src="{{image.image.url}}" style="height: 10rem;">
            <div class="card-body">
                <h5 class="card-title">{{ image.title }}</h5>


            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{image.id}}">
                More details
              </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{image.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <p>{{ image.description }}</p>
                    <input class="form-control" type="text" value="{{image.image.url}}" id="myInput" style="color: black; background-color: transparent; font-size: 16px;">
                    <button type="button" style="width: 150px;" class="btn btn-dark-green" onclick="myFunction()">Copy Url</button>
                </div>
                <script>
                    function myFunction() {
                        var copyText = document.getElementById("myInput");
                        copyText.select();
                        document.execCommand("Copy");
                    }
                </script>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
</div>
{% endif %} {% endblock%}